@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	}
.clearfix:after{ 
		content: ""; 
		clear: both; 
		display: block;
		}
.box{
	width:100%;
	height:100%;	
	}
	
							/*顶部*/
	
				.tou{
		width:100%;
		height:39px;
		margin:8px auto;
		}
		.img1{
			margin-left:20%;
			float:left;
			}
		.p1{
			font-size:14px;
			margin-left:20px;
			float:left;
			}
			.p11{
				font-size:14px;
				margin-right:15%;
				float:right;
				}
		.a1{
			color:#000000;
			}
			.a11{
				margin-left:20px;
				color:#0B26AE;
				}
				
							/*banner*/
				
				.banner{
		margin-top:-15px;
		}
		
							/*表*/
		
				.tu{
		margin-left:25%;
		margin-top:16px;
		}
		
							/*第一部分*/
		
				.lie{
		height:710px;
		margin-left:25%;
		}
		.liezuo{
			height:671px;
			float:left;
			}
			.dao{
				margin-top:22px;
				border-bottom:1px solid;
				}
				.p2{
					margin-bottom:18px;
					color:#F5F5F5;
					}
				.a2{
					color:#097C25;
					font-size:14px;
					}
			.zuoxia{
				margin-top:35px;
				}
				.p21{
					color:#097C25;
					font-size:16px;
					font-weight:bold;
					margin-bottom:8px;
					}
				.ul1{
					margin-top:7px;
					}
					.li1{
						line-height:25px;
						font-size:14px;
						}
				.ul2{
					width:518px;
					margin-top:45px;
					}
					.li2{
						font-size:14px;
						font-weight:bold;
						background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/3.28/img/feng33.png) no-repeat left center;
						padding-left:10px;
						line-height:25px;
						}
					.li21{
						font-size:14px;
						background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/3.28/img/feng33.png) no-repeat left center;
						padding-left:10px;
						line-height:28px;
						}
					.p22{
						font-size:12px;
						float:right;
						}
					.p23{
						font-size:12px;
						float:right;
						}
			.lieyou{
				width:410px;
				margin-left:60px;
				float:left;
				margin-top:30px;
				}
				.youshang{
					width:270px;
					}
					.p24{
						color:#009E47;
						font-size:#009E47;
						margin-left:10px;
						float:left;
						}
					.p25{
						font-weight:bold;
						font-size:20px;
						float:right;
						}
					.span1{
						font-size:30px;
						color:#009E47;
						margin-left:7px;
						margin-right:7px;										                       }
					.p26{
						font-size:14px;
						float:right;
						margin-top:50px;
						margin-right:-112px;
						}
					.span11{
						color:#009E47;					
						}
				.youxia{
					height:545px;
					}
					.img2{
						margin-top:8px;
						float:left;
						}
					.img21{
						float:right;
						margin-left:4px;
						margin-top:-130px;
						}
						
							/*一起吐槽*/
						
				.tucao{
				height:260px;
				background-color:#F5F5F5;
				margin-top:-20px;
				}
				.caozuo{
					width:488px;
					margin-left:25%;
					}
					.h31{
						color:#097C25;
						padding-top:14px;
						}
					.img3{
						margin-left:-10px;
						float:left;
						}
					.h41{
						margin-top:30px;
						margin-left:33px;
						float:left;
						}
					.p3{
						width:336px;
						font-size:12px;
						margin-left:33px;
						line-height:26px;
						float:left;
						margin-top:10px;
						}
					.img4{
						float:left;
						margin-left:220px;
						margin-top:-25px;
						}
					.p31{
						height:24px;
						float:left;
						margin-top:10px;
						margin-left:170px;
						font-size:12px;
						}
					.img41{
						float:left;
						margin-left:220px;
						margin-top:-28px;
						}
					.p32{
						float:right;
						margin-right:10px;
						font-size:12px;
						color:#CFCFCF;
						margin-top:-28px;
						background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/3.28/img/feng36.png) no-repeat left center;
						padding-left:25px;
						}
				.caoyou{
					width:410px;
					height:224px;
					margin-left:60.5%;
					margin-top:-220px;
					float:left;
					}
					.h42{
						width:400px;
						height:39px;
						line-height:39px;
						background-color:#097C25;
						padding-left:10px;
						color:#ffffff;
						}
					.p33{
						width:400px;
						height:36px;
						line-height:36px;
						background-color:#FFFFFF;
						padding-left:10px;
						color:#097C25;
						}
					.a3{
						width:20px;
						height:20px;
						border-radius:20px;
						background-color:#EFEFEF;
						display:inline-block;
						line-height:20px;
						text-align:center;
						margin-left:165px;
						}
					.a31{
						width:20px;
						height:20px;
						border-radius:20px;
						background-color:#EFEFEF;
						display:inline-block;
						line-height:20px;
						text-align:center;
						}
					.a3:hover{
						background-color:#097B25;
						color:#ffffff;
						}
					.a31:hover{
						background-color:#097B25;
						color:#ffffff;
						}
					.p34{
						width:410px;
						height:30px;
						line-height:30px;
						background-color:#EFEFEF;
						}
						.p341{
							margin-left:35px;
							font-size:10px;
							float:left;
							}
						.p342{
							margin-left:30px;
							font-size:10px;
							float:left;
							}
						.p343{
							margin-left:100px;
							font-size:10px;
							float:left;
							}
						.p344{
							margin-left:28px;
							font-size:10px;
							float:left;
							}
						.p345{
							margin-left:45px;
							font-size:10px;
							float:left;
							}
						.p346{
							margin-left:90px;
							font-size:10px;
							float:left;
							}
						.p347{
							margin-left:35px;
							font-size:10px;
							float:left;
							}
						.p348{
							margin-left:25px;
							font-size:10px;
							float:left;
							}
					.p35{
						width:410px;
						height:30px;
						line-height:30px;
						background-color:#ffffff;
						}
						.p351{
							margin-left:55px;
							font-size:10px;
							float:left;
							}
						.p352{
							margin-left:25px;
							font-size:10px;
							float:left;
							}
						.p353{
							margin-left:78px;
							font-size:10px;
							float:left;
							}
							
							/*独家评论*/
						
				.pinglun{
				width:1000px;
				height:400px;
				margin-left:25%;
				margin-top:34px;
				}
				.h21{
					color:#097C25;
					}
				.span2{
					color:#C7C7C7;
					font-size:18px;
					margin-left:12px;
					}
				.hr1{
					width:626px;
					height:1px;
					background-color:#C7C7C7;
					float:right;
					margin-top:20px;
					}
				.kuai{
					width:182px;
					height:320px;
					float:left;
					margin-top:20px;
					margin-right:18px;
					background-color:#F5F5F5;
					}
					.p4{
						height:53px;
						background-color:#2B2B2B;
						color:#ffffff;
						font-size:16px;
						text-align:center;
						padding-left:4px;
						padding-right:4px;
						padding-top:5px;
						}
					.p41{
						margin-top:20px;
						font-size:12px;
						margin-left:15px;
						margin-right:15px;
						line-height:25px;
						}
					.a4{
						color:#097C25;
						}
					.img5{
						margin-top:8px;
						}
				.kuai1{
					width:182px;
					height:320px;
					float:left;
					margin-top:20px;
					margin-right:18px;
					background-color:#F5F5F5;
					}
					.img51{
						margin-left:15px;
						margin-top:20px;
						}
					.p42{
						font-size:12px;
						margin-left:15px;
						}
					.img52{
						margin-top:12px;
						}
						
							/*精彩图集*/
						
				.tuji{
				width:1000px;
				height:500px;
				margin-left:25%;
				margin-top:10px;
				}
				.tuji ul{
					width:79px;
					height:440px;
					margin-right:6px;
					margin-top:20px;
					float:left;
					background-color:#000000;
					color:#fff;
					}
					.tuji li{
						font-size:22px;
						height:56px;
						width:100%;
						display:inline-block;
						line-height:56px;
						text-align:center;
						margin-bottom:21px;
						}
						.tuji li:hover{
							background-color:#097C25;
							}
				.jiyou{
					width:915px;
					height:440px;
					margin-top:20px;
					float:left;	
					}
					.you1{
						width:320px;
						height:440px;
						float:left;
						position:relative;
						}
					.you1 p{
						color:#fff;
						font-size:14px;
						position:absolute;
						left:5px;
						top:5px;
						z-index:3;
						}
					.you1 img{
						position:absolute;
						left:0;
						top:0;
						z-index:2;
						}
				.you2{
					width:600px;
					height:440px;
					float:left;
					margin-left:-10px;
					position:relative;
					}
					.you2 img{
						float:left;
						margin-right:1px;
						}
						.img6{
							float:left;
							position:absolute;
							left:0;
							bottom:0;
							}
							.img61{
								float:left;
								position:absolute;
								left:200px;
								bottom:0;	
								}
							.img62{
								float:left;
								position:absolute;
								right:0;
								top:147px;	
								}
							.img63{
								float:left;
								position:absolute;
								right:0;
								bottom:0;	
								}
								
							/*分组*/	
						
				.fenzu{
					width:100%;
					height:520px;
					background-color:#29262A;
					margin-top:40px;
					}
					.zushang p{
						width:1000px;
						height:38px;
						display:inline-block;
						margin-top:80px;
						margin-left:25%;
						background-color:#000;
						}
						.zushang a{
							font-size:24px;
							color:#fff;
							line-height:38px;
							height:38px;
							width:119px;
							text-align:center;
							display:inline-block;
							border-right:1px solid #fff;
							}
						.zushang span{
							height:50px;
							color:#fff;
							display:inline-block;
							}
					.zuxia{
						margin-top:50px;
						width:1080px;
						height:270px;
						margin-left:23%;
						}
						.zuozuo{
							width:540px;
							height:100%;
							margin-right:10px;
							float:left;
							}
							.zuo1{
								width:18px;
								height:34px;
								margin-top:100px;
								float:left;
								}
							.zuozuo ul{
								width:400px;
								height:100%;
								margin-left:20px;
								display:inline-block;
								background-color:#30302E;
								}
							.zuozuo li{
								color:#fff;
								font-size:14px;
								line-height:30px;
								background:url(file:///C|/Users/dell/Desktop/%E8%AF%BE%E4%B8%8A/3.28%20%20%20%E5%87%A4%E5%87%B0%E4%BD%93%E8%82%B2/img/feng37.png) no-repeat 10px center;
								padding-left:24px;
								}
							.zuoyou{
								width:530px;
								height:270px;
								float:left;
								}
									.zuo2{
										width:18px;
										height:34px;
										margin-top:-160px;
										float:right;
										}
									.zuo3{
										margin-left:5px;
										float:left;
										}
									.zuo4{
										margin-top:-130px;
										float:left;
										}
										
							/*世界杯资料*/
										
				.ziliao{
					width:1004px;
					height:410px;
					margin-left:25%;
					margin-top:75px;
					}
					.liaozuo{
						width:758px;
						height:330px;
						margin-top:40px;
						}
						.liao1{
							float:left;
							width:288px;
							background-color:#F6F6F6;
							height:330px;
							}
					.liaoyou{
						width:240px;
						height:330px;
						background-color:#097C25;
						float:left;
						margin-top:-330px;
						}
						.liaoyou span{
							font-size:20px;
							margin-left:28px;
							color:#fff;
							}
						.liaoyou p{
							font-size:16px;
							margin-left:28px;
							margin-right:28px;
							margin-top:20px;
							color:#fff;
							}
						.liao2{
							float:right;
							margin-top:-250px;
							margin-right:10px;
							}
						.liao3{
							float:right;
							margin-top:40px;
							margin-right:10px;
							}
							
							
							
							/*底部*/
				.dibu{
			margin-top:72px;
			margin-left:25%;
			height:55px;
			}
			.di1{
				margin-left:150px;
				font-size:12px;
				}
			.di2{
				margin-left:440px;
				margin-top:10px;
				font-size:12px;
				}
			.di3{
				margin-left:310px;
				margin-top:10px;
				font-size:12px;
				}